{% extends "base.html" %}
{% block main %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ gorod }}</h1>
    <p class="mb-4">Найдено {{ kol }} {{ text }}, от {{ min_S }} до {{ max_S }} и от {{ min_n }} ночей до {{ max_n }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
          {% for k,v in d.items() %}
          {% if v.departure == dep %}
            <div class="col-4">
              <div class="card mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                  <img class="card-img-top embed-responsive-item" src="{{ v.picture }}" alt="" />
                </div>          
                <div class="card-body">
                  <h2 class="h5 card-title">{{ v.title }}</h2>
                  <p class="card-text">{{  v.description }}</p>
                  <a href="/tours/{{ k }}" class="btn btn-sm btn-primary">Подробнее</a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>
  </main>
{% endblock %}